#formatting {
    background-color: rgb(209, 120, 209);
}

#matematika {
    background-color: rgb(255, 255, 109);
}

#kimia {
    background-color: rgb(101, 233, 101);
}

#paragraf {
    background-color: rgb(116, 116, 204);
}